@font-face {
  font-family: 'comicsans';
  src: url('./ComicSansMS3.ttf') format('truetype');
}

body {
    font-family: 'comicsans', sans-serif;
    max-width: 600px;
    margin: auto;
}

#guestbook {
    margin-top: 20px;
}
